#content {
	max-width: 500px;
	margin: 0 auto;
}

h2 {
	text-align: center;
	letter-spacing: 3px;
	padding-top: 30px;
	padding-bottom: 30px;
}

p {
	text-align: justify;
	line-height: 2;
}

#faqs > ul {
	background-color: transparent;
}

faqs > ul >li {
	background-color: transparent;
}

