#navBar {
	display: inline-block;
	padding-top: 30px;
}

#container {
	max-width: 800px;
	margin: 0 auto;
	margin-top: 50px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #c6c9ce;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
}

li {
	display: inline;
	padding-left: 50px;
	padding-right: 50px;
	text-decoration: none;
	
}

#page1 {
	/*margin-top: 30px;*/
}

img {
	padding-left: 30px;
}

#header {
	/*display: inline-block;
	width: 700px;*/
	overflow: auto;
	zoom: 1;
	vertical-align: center;
	padding-left: 40px;
}
/*h1 {
	padding-left: 20px;
}*/

