#navBar {
	display: inline-block;
	padding-top: 30px;
}

#container {
	max-width: 800px;
	margin: 0 auto;
	margin-top: 50px;
}

#fixed {
	position: fixed;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	padding-left: 50px;
	padding-right: 50px;
}

#page1 {
	margin-top: 30px;
}

#header {
	overflow: auto;
}
