#content {
	max-width: 500px;
	margin: 0 auto;
}

h2 {
	text-align: center;
	letter-spacing: 3px;
	padding-top: 30px;
	padding-bottom: 30px;
}

h3 {
	letter-spacing: 3px;
}

p {
	text-align: justify;
	line-height: 2;
}

th, td {
	padding: 10px 15px 10px 15px;
	text-align: center;
}

table, th, td {
	border: 1px solid black;
}

